#myCanvas {
    /*border-width: 1px;
    border-style: dashed;
    border-color: black;
    border-color: black;*/
}

span{
    display: inline-block;
    
    align-content: center;
    text-align: center;
}

div {
    /* I added this just for fun */
    
    color: black;
    font-family: Century Gothic;
    padding: 5px;
    text-align: center;
  
    /* The code that you need to copy */
    position: relative;
    left: 0px;
    right: 0px;
    /*top: 0px;*/
  }